<div class="container my-5 w-75">
  <!-- <h3>{{ registerForm.get("phone")?.errors | json }}</h3> -->
  <h2>reset your account password</h2>

  <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
    <label for="email">Email : </label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="form-control mb-2"
    />
    <div
      *ngIf="
        resetPassForm.get('email')?.errors &&
        resetPassForm.get('email')?.touched
      "
      class="alert alert-danger"
    >
      <p *ngIf="resetPassForm.get('email')?.getError('required')" class="mb-0">
        Email is required!
      </p>
      <p *ngIf="resetPassForm.get('email')?.getError('email')" class="mb-0">
        Email is invalid!
      </p>
    </div>

    <label for="Password">Password : </label>
    <input
      type="Password"
      id="Password"
      formControlName="newPassword"
      class="form-control mb-2"
    />

    <div
      *ngIf="
        resetPassForm.get('newPassword')?.errors &&
        resetPassForm.get('newPassword')?.touched
      "
      class="alert alert-danger"
    >
      <p
        *ngIf="resetPassForm.get('newPassword')?.getError('required')"
        class="mb-0"
      >
        Password is required!
      </p>
      <p
        *ngIf="resetPassForm.get('newPassword')?.getError('pattern')"
        class="mb-0"
      >
        password pattern wrong !
      </p>
    </div>
<!-- -->
    <button
      type="submit"
      [disabled]="resetPassForm.invalid" 
      class="btn btn-dark px-3 d-block ms-auto my-3"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Verify</span>
    </button>
  </form>
</div>
