<div class="product card rounded-0 border-0">
  <a [routerLink]="['/productDetails', product.id]">
    <div class="img-container m-0 p-0">
      <img
        [src]="product.imageCover"
        class="w-100 productImage"
        alt="productImage"
      />
    </div>
    <div class="p-3">
      <small class="text-muted">{{ product.category.name }}</small>
      <h2 class="h5 fw-bold ">
        {{ product.title | trim : 2 }}
      </h2>
      <div class="d-flex justify-content-between py-1">
        <span class="fw-bold">{{ product.price | currency }}</span>
        <div class="px-2">
          <i class="fa fa-star text-warning"></i>
          {{ product.ratingsAverage }}
        </div>
      </div>
    </div>
  </a>
  <a class="m-2 text-danger wishlist-heart" (click)="addToWishlist(product.id)">
    <i class="fa-regular fa-heart fa-lg"></i>
  </a>
  <div class="flex-item-center my-1 mb-2">
    <button
      class="btn btn-dark w-75 rounded-1 addBtn"
      (click)="addToCart(product.id)"
    >
      + Add
    </button>
  </div>
</div>
