<nav class="navbar navbar-expand-lg bg-body-tertiary white-color fixed-top">
  <div class="container">
    <a class="navbar-brand py-0" [routerLink]="'home'">
      <img src="assets/images/logo.webp" alt="logo-imag" class="py-2" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 main-items" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'home'"
            routerLinkActive="bg-active-nav"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'cart'"
            routerLinkActive="bg-active-nav"
            aria-current="page"
            >Cart</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="bg-active-nav"
            aria-current="page"
            [routerLink]="'wishList'"
            >wish list</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="bg-active-nav"
            aria-current="page"
            [routerLink]="'produts'"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="bg-active-nav"
            aria-current="page"
            [routerLink]="'Categories'"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="'brands'"
            routerLinkActive="bg-active-nav"
            >Brand</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="'setting'"
            routerLinkActive="bg-active-nav"
            >Setting</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto sec-nav-items p-1">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">
            <i class="fa-solid fa-moon fa-lg"></i>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="bg-active-nav"
            aria-current="page"
            target="_blank"
            [href]="'https://www.instagram.com/'"
          >
            <i class="fa-brands fa-square-instagram fa-lg"></i>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            target="_blank"
            aria-current="page"
            [href]="'https://www.facebook.com/'"
          >
            <i class="fa-brands fa-facebook fa-lg"></i>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [href]="'https://twitter.com/?lang=en'"
            target="_blank"
          >
            <i class="fa-brands fa-twitter fa-lg"></i>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            target="_blank"
            [href]="'https://www.linkedin.com/'"
          >
            <i class="fa-brands fa-linkedin fa-lg"></i>
          </a>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" aria-current="page" [routerLink]="'register'"
            >Register</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" aria-current="page" [routerLink]="'login'"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn" (click)="logOut()">
          <a class="nav-link" aria-current="page" [routerLink]="'login'"
            >LogOut</a
          >
        </li>

        <li class="nav-item position-relative" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="'cart'">
            <i class="fa fa-shopping-cart fs-4" aria-hidden="true"></i>
            <div class="badge position-absolute top-0 end-0 bg-dark">
              {{ numOfCartItemsInNav }}
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
