<div class="container pages-top">
  <div class="row align-items-start">
    <div class="col-md-4">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of productDetails.images">
          <ng-template carouselSlide>
            <img [src]="slide" class="w-100 shadow " />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="col-md-8">
      <div class="heading-container my-4">
        <h2 class="mb-3 w-80">{{ productDetails.title }}</h2>
        <p class="text-muted descrip">{{ productDetails.description }}</p>
      </div>
      <div class="d-flex justify-content-between pt-4 w-75 my-4">
        <span class="fw-bold fs-5">{{ productDetails.price | currency }}</span>
        <div class="px-2">
          <i class="fa fa-star text-warning fa-lg"></i>
         <span class="fs-6"> {{ productDetails.ratingsAverage }}</span>
        </div>
      </div>

      <a
        class="text-danger wishlist-heart"
        (click)="addToWishlist(productDetails.id)"
      >
        <i class="fa-regular fa-heart fa-lg"></i>
      </a>
      <button
        class="btn btn-dark rounded-1 "
        (click)="addToCart(productDetails.id)"
      >
        + Add
      </button>
    </div>
  </div>
</div>
