<owl-carousel-o *ngIf="routePath === '/home'" [options]="customOptions">
  <ng-container *ngFor="let slide of allcategories">
    <ng-template carouselSlide>
      <img height="300" [src]="slide.image" />
      <h3>{{ slide.name }}</h3>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<div class="container" *ngIf="routePath === '/Categories'">
  <div class="row g-4 my-4">
    <div class="col-md-4" *ngFor="let product of allcategories">
      <div class="card">
        <img
          [src]="product.image"
          alt="catageory-img"
          class="w-100 p-0 m-0"
          height="300"
        />
        <!-- <app-product-item [product]="product"></app-product-item> -->
        <h5 class="card-title p-4 text-center">{{ product.name }}</h5>
      </div>
    </div>
  </div>
</div>
