<div class="container pages-top">
  <div
    class="d-flex justify-content-between align-items-center cart-heading my-4"
  >
    <h3 class="fw-500">
      Cart Shop
      <span *ngIf="cartDetails.numOfCartItems"
        >( {{ cartDetails.numOfCartItems }} items)</span
      >
    </h3>
    <button class="btn btn-dark rounded-1">
      <a [routerLink]="['/checkout/', this.cartDetails.data._id]" class="p-2">
        continue to pay
      </a>
    </button>
  </div>
  <!-- bg-light -->
  <div class="py-3" *ngIf="cartDetails?.data">
    <!-- <div class="d-flex p-4 justify-content-between">
      <h4>
        Total item : <span>{{ cartDetails.numOfCartItems }}</span>
      </h4>

      <h4 class="px-1">
        Total Price :
        <span>{{ cartDetails.data.totalCartPrice | currency }}</span>
      </h4>
    </div> -->
    <div class="row d-flex justify-content-between">
      <div class="col-8">
        <div
          class="row cart-item mb-4 p-4"
          *ngFor="let product of cartDetails.data.products"
        >
          <div class="col-md-2">
            <img [src]="product.product.imageCover" class="w-100" alt="" />
          </div>
          <div class="col-md-8 leftbtns">
            <div class="item">
              <h4>{{ product.product.title }}</h4>
              <p class="text-muted">{{ product.product.category.name }}</p>
              <div class="d-flex align-items-center">
                <p class="text-muted mb-0 fw-bold">
                  {{ product.price | currency }}
                </p>
                <button
                  class="btn ms-4 deltBTn"
                  (click)="deleteItem(product.product.id)"
                >
                  <i class="fa-regular fa-trash-can"></i> Remove
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2 align-self-center">
            <button
              class="btn btn-outline-dark countbtn"
              (click)="updateCount(product.count - 1, product.product.id)"
            >
              <span> <i class="fa-solid fa-minus"></i> </span>
            </button>
            <span class="mx-2 text-center fs-5">{{ product.count }}</span>
            <button
              class="btn btn-outline-dark countbtn"
              (click)="updateCount(product.count + 1, product.product.id)"
            >
              <span><i class="fa-solid fa-plus"></i> </span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 px-4">
        <div class="cart-item mb-4 p-4">
          <h4 class="pb-2 fw-500">Order Summary</h4>

          <div class="summry-item px-1 py-3 border-bottom-line">
            <h5>Total item</h5>
            <p class="mb-0 fs-5">
              {{ cartDetails.numOfCartItems }}
            </p>
          </div>

          <div class="summry-item px-1 py-3">
            <h5>Total Price</h5>
            <p class="mb-0 fs-5">
              {{ cartDetails.data.totalCartPrice | currency }}
            </p>
          </div>
        </div>
        <div class="cart-item mb-4 p-4">
          <h4 class="pb-2 fw-500">Apply Coupon</h4>

          <div class="summry-item px-1 py-3 ">
            <div class="code-formate">
              <input type="text" placeholder="Enter your code" class="p-2 text-muted ">
              <button class="btn btn-dark ">
                <a  class="p-2">
                  Apply
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
